* {
	margin:0px;
	padding:0px;
}

body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	color:#333;
	background-color:#E5E5E3;
}
#header {
	background-color:#666;
	height:180px;
}
#box1 {
	width:760px;
	min-height:600px;
	margin-right:auto;
	border-right:3px solid #4D4D4D;
	border-bottom:3px solid #4D4D4D; 
}

#box2 {
	width:750px;
	min-height:590px;
	margin-right:auto;
	border-right:3px solid #4D4D4D;
	border-bottom:3px solid #4D4D4D; 
}
#box3 {
	width:895px;
	min-height:600px;
	margin-left:auto;
	margin-top:-13px;
	border-top:3px solid #4D4D4D;
	border-left:3px solid #4D4D4D; 
}
#box4 {
	width:885px;
	min-height:600px;
	margin-left:auto;
	margin-top:6px;
	border-top:3px solid #4D4D4D;
	border-left:3px solid #4D4D4D; 
}
	
.container {
	width:960px;
	margin: 0 auto;
}